@page "/ScalableVectorGraphics"

<h3>Example</h3>

<img alt="Example image" src="some-image.svg" />

<style>
    .my-element{
        background-image: url("some-image.svg");
    }
</style>

@code {

}
