@page "/ComponentClasses"

<h3 style="font-style:@_headingFontStyle">@_headingText</h3>

@code {
    private string _headingFontStyle = "italic";
    private string _headingText = "Component Classes";

}