@page "/HttpClientAndJsonHelpers"

@inject HttpClient Http

@using CallAWebApi.Shared

<button class="btn btn-sm btn-primary" @onclick="GetPeople">Get People</button>

<button class="btn btn-sm btn-secondary" @onclick="Get">Get</button>
<button class="btn btn-sm btn-success" @onclick="Post">Post</button>
<button class="btn btn-sm btn-warning" @onclick="Put">Put</button>
<button class="btn btn-sm btn-danger" @onclick="Delete">Delete</button>

@code {


    private string Endpoint { get; set; } = "http://localhost:50957/person/";

    private async Task GetPeople()
    {
        var people = await Http.GetJsonAsync<IEnumerable<Person>>(Endpoint);
    }

    private async Task Get()
    {
        var person = await Http.GetJsonAsync<Person>($"{Endpoint}1");
    }

    private async Task Post()
    {
        await Http.PostJsonAsync(Endpoint, new Person { Name = "Post" });
    }

    private async Task Put()
    {
        await Http.PutJsonAsync(Endpoint, new Person { Name = "Put" });
    }

    private async Task Delete()
    {
        await Http.DeleteAsync($"{Endpoint}1");
    }

}