@inherits LayoutComponentBase

<Nav></Nav>

<h1>LayoutC</h1>

<div style="border:5px solid blue;padding:10px;">
    @Body
</div>

<div>
    @Message
</div>

@code{
    public string Message { get; set; } = "LayoutC.Message";
}