@inherits LayoutComponentBase

<Nav></Nav>

<h1>LayoutB</h1>

<div style="border:1px solid blue;padding:10px;">
    @Body
</div>

<div>
    @Message
</div>

@code{
    public string Message { get; set; } = "LayoutB.Message";
}