@inherits LayoutComponentBase

<Nav></Nav>

<h1>MainLayout</h1>

<div style="border: 1px solid red; padding:10px;">
    @Body
</div>

<div>
    @Message
</div>

@code{
    public string Message { get; set; } = "MainLayout.Message";
}