<div>
    <a href="">Index</a>
    <a href="UseLayoutA">Use Layout A</a>
    <a href="UseLayoutB">Use Layout B</a>
    <a href="Pages/MyChild">Pages/MyChild</a>
    <a href="MasterList/Episodes">MasterList/Episodes</a>
</div>

@code {

}
