@page "/ConditionalHtmlAttributes"

<h3>Conditional HTML Attributes</h3>

<input type="checkbox" />
<br />
<input type="checkbox" checked />
<br />
<input type="checkbox" checked="checked" />
@*<br />
<input type="checkbox" checked="true" />
<br />
<input type="checkbox" checked="false" />*@
<br />
<input type="checkbox" checked="@_isCompleted1" />
<br />
<input type="checkbox" checked="@_isCompleted2" />

@code {
    private bool _isCompleted1 = false;
    private bool _isCompleted2 = true;
}
